<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="RemoteDashboard.ConnectionString" value="Data Source=pub-db02-qat; Initial Catalog=FundPlanner; Integrated Security=True;Connect Timeout=180;" providerName="System.Data.SqlClient"/>
    <add key="Zoom.Base.Url" value="https://api.zoom.us/"/>
    <add key="Zoom.User.Url" value="v2/report/users"/>
    <add key="Zoom.Meeting.Url" value="https://api.zoom.us/"/>
    <add key="Zoom.JWT.Access" value="https://api.zoom.us/"/>
    
  </appSettings>
  <connectionStrings>
      <add name="RemoteDashboard.ConnectionString" connectionString="Data Source=pub-db02-qat; Initial Catalog=FundPlanner; Integrated Security=True;Connect Timeout=180;" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>